/* PC */

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* tablet và mobile */
@media (max-width: 991.98px) {
  /* 1 ẩn thanh navbar */
  .navbar {
    display: none;
  }

  /* 2.canh giữa logo */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* 3.thêm menu-header */
  .menu-header__icon {
    position: absolute;
    left: 26px;
    top: 32px;
    width: 3rem;
    color: #fff;
    cursor: pointer;
  }

  /* 4. ẩn overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    /* opacity=0 vần tương tác được thì dùng visibility: hidden;  */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  /* 5 hiện overplay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* 6. nền menu-content */
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: rgb(31, 5, 5);
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 2;
    padding: 60px;
  }
  /* 7. kiểm tra hiện menu-drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* 8 code menu-top*/
  .close-menu {
    width: 3rem;
  }
  .menu-drawer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  #navbar__link--mobile {
    margin-top: 25px;
    transition: 0.25s;
  }
  .navbar__link {
    display: block;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* 9 code phần hero */
  .hero {
    flex-direction: column;
  }
  .hero__media {
    order: 1;
  }

  .hero__content {
    order: 2;
    margin: 22px auto;
    width: 80%;
    text-align: center;
  }
  .hero__row {
    justify-content: center;
  }

  /* khối service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }
  /* work-list */

  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* about */
  .about__body {
    flex-direction: column;
  }

  .about-media {
    width: 100%;
  }

  .about-media__small {
    display: none;
  }
  .about-media__lager {
    width: 100%;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
  /* team-list */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }
  /* blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__list {
    order: 1;
    margin: 0 auto;
  }

  .blog__content {
    order: 2;
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .blog__heading {
    max-width: 100%;
  }
  .blog__list {
    width: 90%;
  }
}

/* table  */

@media (min-width: 768px) and (max-width: 991.98px) {
  .header-footer__column {
    display: none;
  }
  .footer-top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .show-on-mobile {
    display: none;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }

  /* menu_drawer */

  .menu-drawer {
    padding: 40px;
    inset: 0 20% 0 0;
  }
  .navbar__item {
    list-style-type: none;
  }

  .separate {
    margin-top: 20px;
    border-top: 1.5px solid #8c5d5d;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }
  .hero__img-large {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__desc {
    font-size: 1.5rem;
  }
  .hero__row {
    flex-direction: column;
  }
  /* services */
  .service {
    padding: 60px 0;
  }
  .service__desc {
    width: 100%;
  }
  .service__img {
    height: 100%;
  }
  /* work */
  .work {
    padding: 60px 0;
  }
  .work-item {
    padding: 20px;
  }
  .work__desc {
    width: 90%;
  }
  /* about */
  .about {
    padding: 60px 0;
  }
  .about-media__lager {
    height: 100%;
  }
  .about-content {
    margin-top: 30px;
  }
  .about__heading {
    font-size: 3rem;
  }
  /* team */
  .team__list {
    grid-template-columns: 1fr;
  }
  /* install */

  .install__inner {
    padding: 60px 0;
    margin: 0;
  }
  .install__heading {
    font-size: 3rem;
  }
  .install__decs {
    font-size: 1.3rem;
  }
  /* blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .blog-item {
    margin: 0 auto;
  }
  /* appointment */
  .appointment__inner {
    width: 100%;
    padding: 8px 2px;
  }
  .appointment__heading {
    font-size: 3rem;
  }
  .appointment__desc {
    width: 100%;
  }

  /* footer */
  .footer-top {
    grid-template-columns: 1fr;
  }
  .footer__copyright {
    margin-top: 30px;
  }
}

/* ẩn những cái không liên quan */
